bin/Debug/net5.0/Azure.Core.dll
bin/Debug/net5.0/Azure.Messaging.EventHubs.dll
bin/Debug/net5.0/Microsoft.AnalysisServices.AdomdClient.dll
bin/Debug/net5.0/Microsoft.AnalysisServices.Core.dll
bin/Debug/net5.0/Microsoft.AnalysisServices.dll
bin/Debug/net5.0/Microsoft.AnalysisServices.Platform.Core.dll
bin/Debug/net5.0/Microsoft.AnalysisServices.Platform.Windows.dll
bin/Debug/net5.0/Microsoft.AnalysisServices.Tabular.dll
bin/Debug/net5.0/Microsoft.AnalysisServices.Tabular.Json.dll
bin/Debug/net5.0/Microsoft.Azure.Amqp.dll
bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net5.0/Microsoft.Identity.Client.dll
bin/Debug/net5.0/Newtonsoft.Json.dll
bin/Debug/net5.0/System.Memory.Data.dll
bin/Debug/net5.0/TracePost.deps.json
bin/Debug/net5.0/TracePost.dll
bin/Debug/net5.0/TracePost.exe
bin/Debug/net5.0/TracePost.pdb
bin/Debug/net5.0/TracePost.runtimeconfig.dev.json
bin/Debug/net5.0/TracePost.runtimeconfig.json
bin/Debug/net5.0/ar/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/ar/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/ar/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/ar/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/bg/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/bg/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/bg/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/bg/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/ca/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/ca/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/ca/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/ca/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/cs/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/cs/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/cs/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/cs/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/da/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/da/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/da/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/da/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/de/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/de/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/de/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/de/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/el/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/el/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/el/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/el/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/es/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/es/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/es/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/es/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/et/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/et/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/et/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/et/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/eu/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/eu/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/eu/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/eu/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/fi/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/fi/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/fi/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/fi/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/fr/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/fr/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/fr/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/fr/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/gl/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/gl/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/gl/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/gl/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/he/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/he/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/he/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/he/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/hi/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/hi/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/hi/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/hi/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/hr/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/hr/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/hr/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/hr/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/hu/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/hu/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/hu/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/hu/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/id/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/id/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/id/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/id/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/it/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/it/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/it/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/it/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/ja/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/ja/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/ja/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/ja/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/kk/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/kk/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/kk/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/kk/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/ko/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/ko/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/ko/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/ko/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/lt/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/lt/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/lt/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/lt/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/lv/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/lv/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/lv/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/lv/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/ms/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/ms/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/ms/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/ms/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/nl/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/nl/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/nl/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/nl/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/no/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/no/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/no/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/no/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/pl/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/pl/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/pl/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/pl/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/pt/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/pt/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/pt/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/pt/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/pt-PT/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/pt-PT/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/pt-PT/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/pt-PT/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/ref/TracePost.dll
bin/Debug/net5.0/ro/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/ro/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/ro/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/ro/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/ru/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/ru/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/ru/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/ru/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/sk/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/sk/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/sk/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/sk/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/sl/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/sl/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/sl/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/sl/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/sr-Cyrl/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/sr-Cyrl/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/sr-Cyrl/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/sr-Cyrl/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/sr-Latn/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/sr-Latn/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/sr-Latn/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/sr-Latn/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/sv/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/sv/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/sv/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/sv/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/th/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/th/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/th/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/th/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/tr/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/tr/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/tr/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/tr/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/uk/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/uk/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/uk/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/uk/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/vi/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/vi/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/vi/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/vi/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/zh-HANS/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/zh-HANS/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/zh-HANS/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/zh-HANS/Microsoft.AnalysisServices.Tabular.resources.dll
bin/Debug/net5.0/zh-HANT/Microsoft.AnalysisServices.AdomdClient.resources.dll
bin/Debug/net5.0/zh-HANT/Microsoft.AnalysisServices.Core.resources.dll
bin/Debug/net5.0/zh-HANT/Microsoft.AnalysisServices.resources.dll
bin/Debug/net5.0/zh-HANT/Microsoft.AnalysisServices.Tabular.resources.dll
obj/project.assets.json
obj/project.nuget.cache
obj/TracePost.csproj.nuget.dgspec.json
obj/TracePost.csproj.nuget.g.props
obj/TracePost.csproj.nuget.g.targets
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/TracePost.AssemblyInfo.cs
obj/Debug/net5.0/TracePost.AssemblyInfoInputs.cache
obj/Debug/net5.0/TracePost.assets.cache
obj/Debug/net5.0/TracePost.csproj.CopyComplete
obj/Debug/net5.0/TracePost.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/TracePost.csproj.FileListAbsolute.txt
obj/Debug/net5.0/TracePost.csprojAssemblyReference.cache
obj/Debug/net5.0/TracePost.dll
obj/Debug/net5.0/TracePost.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/TracePost.genruntimeconfig.cache
obj/Debug/net5.0/TracePost.pdb
obj/Debug/net5.0/ref/TracePost.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/net5.0/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
